<a href="https://colab.research.google.com/github/ronak1290/Big-Data-Assignment-All/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# Q-1
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
    'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Artist', 'Lawyer']
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Gender Occupation
0    Alice   25  Female   Engineer
1      Bob   30    Male     Doctor
2  Charlie   35    Male    Teacher
3    David   40    Male     Artist
4    Emily   45  Female     Lawyer

In [9]:
print(df.shape)

(5, 4)

In [10]:
print(rows_to_locate)

[0, 4, 7, 8]

In [5]:
print(df.index)

RangeIndex(start=0, stop=5, step=1)

In [12]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [13]:
import pandas as pd

In [15]:
df= pd.DataFrame({'col1':[1,2,3],'col2':[4,5,6]})
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

In [16]:
row_to_locate = [2,4]

In [17]:
for i in row_to_locate:
  if i>=len(df):
    print(f"Index{i}is not of bounds.")

Index4is not of bounds.

In [ ]:
row_to_locate= [0,3,4]
print(row_to_locate)

In [2]:
# Q-2
import pandas as pd

# Read CSV file in Google Colab
# Make sure to upload the CSV file to your Google Colab environment before running this code
# The file path should be provided based on where you uploaded the file
file_path = '/content/sample_data/california_housing_test.csv'
df = pd.read_csv(file_path)

# Display the DataFrame
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0